:root {
  --primary-color: rgba(3, 40, 49, 0.719);
  --secondary-color: rgb(43, 43, 43);
}

* {
  box-sizing: border-box;
  cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}

body {
  margin: 0;
  background-image: url(dobby.jpg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-color: black;
  padding: 10px;
}

html {
  font-size: 100%;
  font-family: "sans serif";
}

header {
  height: 20vh;
}

.logo {
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20%;
  height: 30vh;
  margin: 0 auto;
  margin-top: 20px;
  filter: grayscale(0.3);
}

.logo:hover {
  background-image: url(harry.gif);
  border: 0px;
  transform: scale(1.5);
  transition: 0.4s ease-in-out;
  cursor: pointer;
  filter: grayscale(0);
}

.searchbar {
  margin-top: 10px;
}

button {
  display: inline-block;
}

.grayout {
  filter: grayscale(100%);
}

/****** WINNER ******/
[data-field="winner"][data-winner="false"] {
  filter: grayscale(100%);
  cursor: pointer;
}

/*/ stjålet https://stackoverflow.com/questions/1895476/how-do-i-style-a-select-dropdown-with-only-css /*/
select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;

  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: rgb(14, 7, 7);
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  font-size: 3rem;
  color: #aaaaaa;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 300;
  margin-left: 5px;
}

h2 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 900;
}

h3,
h4 {
  font-size: 1.8rem;
  margin: 5px 0;
  font-weight: 300;
  font-weight: 400;
}

.listofstudents {
  display: inline-grid;
  grid-template-columns: 2% 1% 8% 20% 50%;
  background-image: url(hogwartsbaggrund2.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(2);
  padding: 10px;
  grid-column-gap: 5px;
  width: 100%;
  margin-left: 5px;
}

.icons {
  width: 50px;
}

li {
  font-size: 1rem;
  color: whitesmoke;
  line-height: 2;
  font-family: var(--paragraph-font);
  list-style: none;
}

.filter {
  display: inline-block;
  background-color: black;
  border: 1px solid bisque;
  color: palegoldenrod;
  transform: scale(1.1);
  margin-bottom: 10px;
  margin-left: 10px;
}

.sort {
  display: inline-block;
  background-color: black;
  border: 1px solid bisque;
  color: palegoldenrod;
  transform: scale(1.1);
  margin-bottom: 10px;
  margin-left: 10px;
}

.sort:hover {
  border: 2px solid blanchedalmond;
}
.filter:hover {
  border: 2px solid blanchedalmond;
}

li:hover {
  color: darkred;
  cursor: pointer;
}

.closebuttonhack:hover {
  transform: scale(4);
  float: right;
}

.popup {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(208, 174, 174, 0.637);
  border: 2px solid goldenrod;
  justify-content: center;
  align-items: center;
}

.popup-appear {
  display: flex;
}

.contentpopup {
  width: 80%;
  max-width: 600px;
  height: 60%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 30px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(215, 117, 117, 0.1);
  border: 2px solid gold;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  color: var(--secondary-color);
}

.close:hover {
  color: red;
  cursor: pointer;
}

.squad {
  transform: scale(1.5);
}

.prefect {
  transform: scale(1.3);
}

/******** DIALOG styling **********/

.dialog {
  display: none;
}

.dialog.show {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialogcontent {
  background-color: rgb(233, 233, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10vw 8vw 8vw 8vw;
  position: relative;
}

.hackingbox {
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10vw 8vw 8vw 8vw;
  position: relative;
  bottom: 120px;
  color: black;
  display: none;
}

.dialog h1 {
  margin: 0;
  font-size: 130%;
}

.dialog h2 {
  margin: 0.5em 0;
  font-size: 110%;
  font-weight: lighter;
}

.dialog .closebutton {
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 4vw;
  right: 4vw;
  border: none;
  background-color: transparent;
  font-size: 90%;
  color: darkgray;
}

.dialog .closebutton:hover {
  color: black;
}

.expellstudent {
  border: 2px solid black;
  background: black;
  color: white;
  margin: 5px;
}

.expellstudent:hover {
  border: 2px solid red;
  text-transform: uppercase;
}

.searchbar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#search {
  width: 200px;
  height: 3vh;
  background-color: black;
  color: palegoldenrod;
}

/***CRESTS***/

.crest {
  width: 200px;
  height: 200px;
  background-image: var(--house-crest);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 70px;
  right: 70px;
}

/****HOUSE COLORS****/

[data-house="Hufflepuff"] {
  --primary-color: #d6c913;
  --secondary-color: #000000;
  --house-crest: url(hufflepuff.png);
}

[data-house="Gryffindor"] {
  --primary-color: #7f0909;
  --secondary-color: #ffc500;
  --house-crest: url(gryffindor.jpg);
}

[data-house="Ravenclaw"] {
  --primary-color: #000a90;
  --secondary-color: #946b2d;
  --house-crest: url(ravenclaw.png);
}

[data-house="Slytherin"] {
  --primary-color: #0d6217;
  --secondary-color: #aaaaaa;
  --house-crest: url(slytherin.jpg);
}
